VITE_SUPABASE_URL=https://services-supabase-siges.2unk5k.easypanel.host
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzY1MDQ4NTY5LCJleHAiOjIwODA0MDg1Njl9.PvktH7q6oHQ7qDquTo9chZt9qXmC9m6Ze39Urit0QkU

VITE_SUPABASE_STORAGE_BUCKET=siges

# Cloudflare R2
VITE_R2_ACCESS_KEY_ID=your_access_key_id
VITE_R2_SECRET_ACCESS_KEY=your_secret_access_key
VITE_R2_BUCKET_NAME=siges
VITE_R2_ACCOUNT_ID=your_account_id
VITE_R2_PUBLIC_URL=https://pub-xxxxx.r2.dev

# imgproxy
VITE_IMGPROXY_URL=https://195.7.7.16
VITE_IMGPROXY_KEY=your_imgproxy_key_in_hex
VITE_IMGPROXY_SALT=your_imgproxy_salt_in_hex
