CREATE INDEX IF NOT EXISTS idx_orders_visits_assets_asset_id ON public.orders_visits_assets (asset_id); CREATE INDEX IF NOT EXISTS idx_orders_visits_assets_ov_id ON public.orders_visits_assets (ov_id); CREATE INDEX IF NOT EXISTS idx_orders_visits_assets_processing_id ON public.orders_visits_assets (processing_id); CREATE INDEX IF NOT EXISTS idx_orders_visits_ov_ended_at ON public.orders_visits (ov_ended_at);
